@model IEnumerable<prueva_anderson_devia_art.Models.pacientes>

@{
    ViewBag.Title = "Index";
}

<<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center text-primary">Registro de Pacientes</h1>
            <p><a href="~/pacientes/Create" class="btn btn-sm btn-success m-1">Agregar </a></p>
            <p class="text-center text-success">@TempData["Error"]</p>
            <table class="table table-bordered">
                <tr class="text-center">
                    <th>Tipo de documento</th>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo Electronico</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th>Action</th>
                </tr>
                @foreach (var d in Model)
                {
            <tr class="text-center">
                <td>@d.tipo_documento</td>
                <td>@d.numero_documento</td>
                <td>@d.nombres</td>
                <td>@d.apellidos</td>
                <td>@d.correo</td>
                <td>@d.telefono</td>
                <td>@d.estado_afiliacion</td>

                <td>
                    <div class="form-group">
                        <a class="btn btn-sm btn-warning m-1" href="~/pacientes/Edit/@d.numero_documento">Editar</a>
                        <a class="btn btn-sm btn-danger m-1" href="~/pacientes/Delete/@d.numero_documento">Eliminar</a>
                    </div>

                </td>
            </tr>
                }
            </table>

        </div>

    </div>

</div>
